@import (reference) '~styles/colors';
@import (reference) '~styles/font';

.file-input {
    text-align: left;

    &__input {
        display: none;
    }

    &__label {
        cursor: pointer;
        display: inline-block;
    }
}
