@import 'rc-slider/assets/index.css';
@import (reference) '~styles/colors';

.shop-page-filters {
    display: flex;
    flex: 1;
    flex-direction: column;

    &__container {
        margin-top: 50px;
        text-align: initial;
    }

    &__item {
        margin-top: 20px;
    }

    &__title {
        font-weight: normal;
    }

    .rc-slider {
        cursor: pointer;
    }

    .rc-slider-handle {
        background-color: @blue-1;
        border-color: @blue-1;
        cursor: pointer;
    }

    .rc-slider-handle-dragging {
        border-color: @blue-1 !important;
        box-shadow: 0 0 20px 2px @blue-1 !important;
    }

    .rc-slider-track {
        background-color: @blue-1;
    }
}
