//desktop
@max_1920: ~'screen and (max-width: 1920px)';
@min_1441: ~'screen and (min-width: 1441px)';
//laptop
@max_1439: ~'screen and (max-width: 1439px)';
//tablet
@max_1023: ~'screen and (max-width: 1023px)';
//mobile
@max_767: ~'screen and (max-width: 767px)';
//extra small
@max_374: ~'screen and (max-width: 374px)';
