@import (reference) "~styles/adaptive";

@horizontal_padding_desktop: 50px;
@horizontal_padding_mobile: 10px;

.padding_horizontal {
    padding-left: @horizontal_padding_desktop;
    padding-right: @horizontal_padding_desktop;

    @media @max_1023 {
        padding-left: @horizontal_padding_mobile;
        padding-right: @horizontal_padding_mobile;
    }
}

.padding_horizontal_max_1023 {
    @media @max_1023 {
        padding-left: @horizontal_padding_mobile;
        padding-right: @horizontal_padding_mobile;
    }
}
