@import (reference) "~styles/adaptive";
@import (reference) "~styles/colors";
@import (reference) "~styles/flex";
@import (reference) "~styles/padding";

.main-home-description {
    display: flex;

    @media @max_1023 {
        flex-direction: column;
    }

    &__content-description {
        margin-top: 50px;
    }

    &__content-section {
        .f_c();
        .padding_horizontal_max_1023();

        flex: 1 1 50%;
        flex-direction: column;
        padding: 0 80px;
        text-align: center;

        @media @max_1023 {
            flex: 1 1 auto;
        }
    }

    &__content-title {
        color: @black;
    }

    &__image-main {
        max-width: 600px;
        width: 100%;

        @media @max_1023 {
            max-width: none;
        }
    }

    &__image-second {
        height: 200px;
        left: 450px;
        object-fit: cover;
        position: absolute;
        top: -80px;
        width: 250px;

        @media @max_1439 {
            display: none;
        }
    }

    &__image-section {
        flex: 1 1 50%;
        position: relative;

        @media @max_1023 {
            flex: 1 1 auto;
            margin-top: 50px;
        }
    }
}
