@import (reference) '~styles/colors';

.signup-page {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;

    &__content-container {
        border-radius: 5px;
        box-shadow: 1px 1px 15px @shadow;
        padding: 50px 100px;
    }

    &__form {
        margin-top: 50px;
    }
}
