.shop-page {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 100px 50px;
    text-align: center;

    &__content {
        display: flex;
        flex: 1;
        margin-top: 50px;
        overflow: hidden;
    }

    &__filters-section {
        display: flex;
        flex: 2;
    }

    &__goods-section {
        display: flex;
        flex: 4;
        flex-wrap: wrap;
        margin-top: -100px;
    }

    &__product-container {
        display: flex;
        margin-top: 100px;
    }
}
