.cart-page {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;

    &__content-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        max-width: 1200px;
    }

    &__content-section {
        display: flex;
        flex: 1;
        justify-content: center;
    }

    &__content-item {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-top: 100px;
    }
}
