@import (reference) "~styles/adaptive";
@import (reference) "~styles/colors";
@import (reference) "~styles/flex";

.main-portfolio {
    .f_c();

    flex-direction: column;

    &__button-container {
        margin-top: 200px;

        @media @max_1024 {
            margin-top: 50px;
        }
    }

    &__image-container {
        display: flex;
        position: relative;

        @media @max_1024 {
            align-items: center;
            flex-direction: column;
            padding: 0 50px;
        }

        @media @max_768 {
            padding: 0;
        }
    }

    &__image-main {
        height: 400px;
        object-fit: cover;
        width: 600px;

        @media @max_1024 {
            max-width: 600px;
            width: 100%;
        }
    }

    &__image-secondary {
        position: absolute;
        z-index: 9;

        @media @max_1024 {
            flex: 1;
            flex-basis: 50%;
            object-fit: cover;
            position: static;
        }

        &_left-bottom {
            left: -60px;
            bottom: -80px;
        }

        &_left-top {
            left: -120px;
            top: -180px;
        }

        &_right-bottom {
            bottom: -160px;
            right: -150px;
        }

        &_right-top {
            right: -200px;
            top: -160px;
        }
    }

    &__image-section {
        margin-top: 300px;

        @media @max_1024 {
            margin-top: 100px;
        }
    }

    &__secondary-images-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 600px;
    }
}
