@import (reference) '~styles/colors';

.custom-select {
    .select {
        &__control {
            &:hover {
                border-color: @blue-1;
            }

            &--is-focused {
                border-color: @gray-1;
                box-shadow: none;
            }
        }
    }
}
