@import (reference) '~styles/adaptive';

.layout {
    height: 100%;
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 84px;

    @media @max_767 {
        padding-top: 48px;
    }
    
    &__content {
        min-height: 100%;
        padding: 150px 0 100px;

        @media @max_767 {
            padding: 50px 0;
        }
    }

    &__hero {
        height: 100%;
        max-height: 1080px;
    }
}
