@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.footer {
    display: flex;

    @media @max_1023 {
        flex-direction: column-reverse;
    }

    &__content-container {
        background-color: @black;
        flex: 1 1 50%;

        @media @max_1023 {
            flex: 1 1 auto;
        }
    }

    &__map-container {
        flex: 1 1 50%;
        height: 475px;

        @media @max_1023 {
            flex: 1 1 auto;
        }
    }
}
