@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';
@import (reference) '~styles/font';
@import (reference) '~styles/position';

.product-card {
    width: 100%;

    &__content-block {
        padding: 20px;
    }

    &__counter-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
    }

    &__description {
        margin-top: 20px;
    }

    &__image {
        .position_absolute_full();

        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &__image-container {
        padding-bottom: 100%;
        position: relative;
    }

    &__price {
        font-weight: 700;
    }

    &__price-container {
        .f_h4();

        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__title {
        .f_h6();

        text-align: center;
    }
}
