.admin-order-header {
    display: grid;
    font-weight: bold;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    margin-top: 50px;
    max-width: 1200px;
    text-transform: capitalize;
    width: 100%;

    &__image {
        width: 275px;
    }
}
